<div class="summary">
  <div class="metric achievements">
    <div class="icon"><i class="type fa fa-trophy"></i></div>
    <div class="count">{{summary.achievements.count}}</div>
    <div class="chart"></div>
  </div>

  <div class="metric shouts">
    <div class="icon"><i class="type fa fa-bullhorn"></i></div>
    <div class="count">{{summary.shouts.count}}</div>
    <div class="chart"></div>
  </div>

  <div class="metric back-taps">
    <div class="icon"><i class="type fa fa-star-o"></i></div>
    <div class="count">{{summary.backTaps.count}}</div>
    <div class="chart"></div>
  </div>

  <div class="metric improvements">
    <div class="icon"><i class="type fa fa-exclamation-triangle"></i></div>
    <div class="count">{{summary.improvements.count}}</div>
    <div class="chart"></div>
  </div>

  <div class="metric screw-ups">
    <div class="icon"><i class="type fa fa-fire"></i></div>
    <div class="count">{{summary.screwUps.count}}</div>
    <div class="chart"></div>
  </div>
</div>