<div class="timeline">
  <div class="feedback">
    <div class="info">
      <img src="/images/sender.jpg" class="sender" />
      <i class="fa fa-chevron-right"></i>
      <img src="/images/receiver.jpg" class="receiver" />
      <div class="date">
        <span>9 mins</span>
        <i class="fa fa-trophy type"></i>
      </div>
    </div>
    <div class="content">
      <i class="fa fa-quote-left"></i>
      <span>Diego helped on the ramp up of 5 team members on a scala techstack, which drastically improved the team turn around capabilities.</span>
      <i class="fa fa-quote-right"></i>
    </div>
    <div class="tags">
      <span class="tag">#scala-lang</span>
      <span class="tag">#goal</span>
    </div>
  </div>

  <div class="feedback">
    <div class="info">
        <img src="/images/sender.jpg" class="sender" />
        <i class="fa fa-chevron-right"></i>
        <img src="/images/receiver.jpg" class="receiver" />
      <div class="date">
        <span>9 mins</span>
        <i class="fa fa-trophy"></i>
      </div>
    </div>
    <div class="content">
      <i class="fa fa-quote-left"></i>
      <span>Diego helped on the ramp up of 5 team members on a scala techstack, which drastically improved the team turn around capabilities.</span>
      <i class="fa fa-quote-right"></i>
    </div>
    <div class="tags">
      <span class="tag">#scala-lang</span>
    </div>
  </div>

  <div class="feedback">
    <div class="info">
        <img src="/images/sender.jpg" class="sender" />
        <i class="fa fa-chevron-right"></i>
        <img src="/images/receiver.jpg" class="receiver" />
      <div class="date">
        <span>9 mins</span>
        <i class="fa fa-trophy"></i>
      </div>
    </div>
    <div class="content">
      <i class="fa fa-quote-left"></i>
      <span>Diego helped on the ramp up of 5 team members on a scala techstack, which drastically improved the team turn around capabilities.</span>
      <i class="fa fa-quote-right"></i>
    </div>
    <div class="tags">
      <span class="tag">#scala-lang</span>
    </div>
  </div>

  <div class="feedback">
    <div class="info">
      <img src="/images/sender.jpg" class="sender" />
      <i class="fa fa-chevron-right"></i>
      <img src="/images/receiver.jpg" class="receiver" />
      <div class="date">
        <span>9 mins</span>
        <i class="fa fa-trophy type"></i>
      </div>
    </div>
    <div class="content">
      <i class="fa fa-quote-left"></i>
      <span>Diego helped on the ramp up of 5 team members on a scala techstack, which drastically improved the team turn around capabilities.</span>
      <i class="fa fa-quote-right"></i>
    </div>
    <div class="tags">
      <span class="tag">#scala-lang</span>
      <span class="tag">#goal</span>
    </div>
  </div>

  <div class="feedback">
    <div class="info">
      <img src="/images/sender.jpg" class="sender" />
      <i class="fa fa-chevron-right"></i>
      <img src="/images/receiver.jpg" class="receiver" />
      <div class="date">
        <span>9 mins</span>
        <i class="fa fa-trophy type"></i>
      </div>
    </div>
    <div class="content">
      <i class="fa fa-quote-left"></i>
      <span>Diego helped on the ramp up of 5 team members on a scala techstack, which drastically improved the team turn around capabilities.</span>
      <i class="fa fa-quote-right"></i>
    </div>
    <div class="tags">
      <span class="tag">#scala-lang</span>
      <span class="tag">#goal</span>
    </div>
  </div>

  <div class="feedback">
    <div class="info">
      <img src="/images/sender.jpg" class="sender" />
      <i class="fa fa-chevron-right"></i>
      <img src="/images/receiver.jpg" class="receiver" />
      <div class="date">
        <span>9 mins</span>
        <i class="fa fa-trophy type"></i>
      </div>
    </div>
    <div class="content">
      <i class="fa fa-quote-left"></i>
      <span>Diego helped on the ramp up of 5 team members on a scala techstack, which drastically improved the team turn around capabilities.</span>
      <i class="fa fa-quote-right"></i>
    </div>
    <div class="tags">
      <span class="tag">#scala-lang</span>
      <span class="tag">#goal</span>
    </div>
  </div>

  <div class="feedback">
    <div class="info">
      <img src="/images/sender.jpg" class="sender" />
      <i class="fa fa-chevron-right"></i>
      <img src="/images/receiver.jpg" class="receiver" />
      <div class="date">
        <span>9 mins</span>
        <i class="fa fa-trophy type"></i>
      </div>
    </div>
    <div class="content">
      <i class="fa fa-quote-left"></i>
      <span>Diego helped on the ramp up of 5 team members on a scala techstack, which drastically improved the team turn around capabilities.</span>
      <i class="fa fa-quote-right"></i>
    </div>
    <div class="tags">
      <span class="tag">#scala-lang</span>
      <span class="tag">#goal</span>
    </div>
  </div>

</div>