<div class="timeline" ng-controller="TimelineController as timeline">

  <div class="feedback" ng-repeat="feedback in timeline.feedbacks">

    <div class="info">
      <img src="/images/{{feedback.sender.id}}.jpg" class="sender" />
      <i class="fa fa-chevron-right"></i>
      <img src="/images/{{feedback.receiver.id}}.jpg" class="receiver" />
      <div class="date">
        <span>{{feedback.created_at}}</span>
        <i class="fa fa-trophy type"></i>
      </div>
    </div>

    <div class="content">
      <i class="fa fa-quote-left"></i>
      <span>{{feedback.content}}</span>
      <i class="fa fa-quote-right"></i>
    </div>

    <div class="tags">
      <span class="tag" ng-repeat="tag in feedback.tags">#{{tag}}</span>
    </div>
  </div>

</div>
