<div class="timeline">

  <div class="feedback" ng-repeat="feedback in activity">

    <div class="info">
      <img ng-src="/images/{{feedback.sender.id}}.jpg" class="sender" />
      <i class="fa fa-chevron-right"></i>
      <img ng-src="/images/{{feedback.receiver.id}}.jpg" class="receiver" />

      <span class="extra">{{feedback.createdAt | date: 'shortTime'}}</span>
      <span class="separator extra">.</span>
      <span class="extra"><i class="type fa {{feedback.type | feedbackTypeClass}}"></i></span>
      <span class="separator extra">.</span>
      <span class="extra"><i class="fa fa-globe visibility"></i></span>
      <span class="separator extra">.</span>
      <span class="extra"><i class="fa fa-location-arrow location"></i></span>
    </div>

    <div class="content">
      <i class="fa fa-quote-left"></i>
      <span>{{feedback.content}}</span>
      <i class="fa fa-quote-right"></i>
    </div>

    <div class="tags">
      <span class="tag" ng-repeat="tag in feedback.tags">#{{tag}}</span>
    </div>
  </div>

</div>
