body {
  background-color: #eee;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container {
  right:0px;
  left: 0px;
  padding: 0;
  width: 95%;
  max-width: 630px;
  position: absolute;
}

.nav .title {
  margin-left: 5px;
  font-family: 'Butterfly Kids', cursive;
  font-size: 40px;
}

.summary .data {
  position: relative;
  font-weight: bold;
  color: #898f9c;
  z-index: -1;
  height: 30px;
  text-shadow: 0px 1px 0px #fff;
}

.summary .data .achievements,
.summary .data .shouts,
.summary .data .back-taps,
.summary .data .improvements,
.summary .data .screw-ups {
  position: relative;
  top: 50px;

  transition: top 0.2s ease-in-out;
  -webkit-transition: top 0.2s ease-in-out;
  -moz-transition: top 0.2s ease-in-out;
}

.summary:hover .data .achievements,
.summary:hover .data .shouts,
.summary:hover .data .back-taps,
.summary:hover .data .improvements,
.summary:hover .data .screw-ups {
  top: 12px;
}

.summary .bar {
  height: 4px;
}

.summary .achievements,
.summary .shouts,
.summary .back-taps,
.summary .improvements,
.summary .screw-ups {
  text-align: center;
  float: left;
  height: 100%;
}

.summary .bar .achievements {
  border-top-left-radius: 2px;
  background-color: #69bf13;
}

.summary .bar .shouts {
  background-color: #00aeef;
}

.summary .bar .back-taps {
  background-color: #898f9c;
}

.summary .bar .improvements {
  background-color: #ddaa44;
}

.summary .bar .screw-ups {
  border-top-right-radius: 2px;
  background-color: #ff4444;
}

.composer {
  margin-bottom: 20px;
}

.composer .form-control {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;

  vertical-align: text-top;
  height: 35px;
  resize: none;
  font-size: 12px;

  border: none;
  box-shadow: 0px 0px 3px #ccc;

  transition: height 0.2s;
  -webkit-transition: height 0.2s;
  -moz-transition: height 0.2s;
}

.composer .form-control:focus {
  height: 120px;
  box-shadow: 0px 0px 20px #999;
}

.composer .form-control:focus ~ .info {
  opacity: 1;

  transition: opacity 0.3s ease-in;
  -webkit-transition: opacity 0.3s ease-in;
  -moz-transition: opacity 0.3s ease-in;
}

.composer .info {
  opacity: 0;
  margin: 5px;
  color: #898f9c;
  font-size: 10px;
  text-align: right;
  text-shadow: 0px 1px 0px #fff;
}

.feedback {
  position: relative;
  margin-bottom: 30px;
}

.feedback .info .fa-chevron-right {
  padding: 8px;
  text-shadow: 0px 1px 0px #fff;
}

.feedback .info .extra .fa-trophy {
  color: #69bf13;
}

.feedback .info .extra .fa-bullhorn {
  color: #00aeef;
}

.feedback .info .extra .fa-star-o {
  color: #898f9c;
}

.feedback .info .extra .fa-exclamation-triangle {
  color: #ddaa44;
}

.feedback .info .extra .fa-fire {
  color: #ff4444;
}

.feedback .info .extra .location {
  opacity: 0.3;
}

.feedback .info .extra {
  margin-left: 15px;
  text-shadow: 0px 1px 0px #fff;
}

.feedback .info {
  display: inline-block;
  color: #898f9c;
  font-size: 10px;
}

.feedback .sender,
.feedback .receiver {
  display: inline-block;
  height: 35px;
  width: 35px;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  z-index: -1;
}

.feedback .content {
  position: relative;
  padding: 10px;
  min-height: 60px;
  vertical-align: top;
  background-color: white;
  box-shadow: 0px 0px 3px #ccc;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.feedback .content .fa-quote-left,
.feedback .content .fa-quote-right {
  vertical-align: top;
  color: #bbb;
  font-size: 8px;
}

.feedback .tags {
  position: absolute;
  right: 5px;
  bottom: -13px;
  z-index: -1;
}

.feedback .tag {
  color: #fff;
  min-width: 25px;
  text-align: center;
  font-size: 8px;
  margin-left: 3px;
  padding: 2px;
  padding-left: 6px;
  padding-right: 6px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: #428bca;
}

.feedback .info .separator {
  vertical-align: super;
  font-size: 10px;
}