<div ng-controller="SummaryCtrl as controller">
  <summary>
    <metric
      class="achievements"
      icon="fa fa-trophy"
      count="controller.loggedInUser.summary.achievements.count"></metric>

    <metric
      class="shouts"
      icon="fa fa-bullhorn"
      count="controller.loggedInUser.summary.shouts.count"></metric>

    <metric
      class="back-taps"
      icon="fa fa-star"
      count="controller.loggedInUser.summary.backTaps.count"></metric>

    <metric
      class="improvements"
      icon="fa fa-exclamation-triangle"
      count="controller.loggedInUser.summary.improvements.count"></metric>

    <metric
      class="screw-ups"
      icon="fa fa-fire"
      count="controller.loggedInUser.summary.screwUps.count"></metric>
  </summary>
</div>

<div ng-controller="ComposerCtrl as composer">
  <composer on-send="composer.send(feedback)"></composer>
</div>

<div ng-controller="TimelineCtrl as timeline">
  <timeline activity="feedbacks"></timeline>
</div>
